@font-face {
  font-family: "ARS Maquette Pro";
  src:
    url("../fonts/ARSMaquettePro-Regular.woff2") format("woff2"),
    url("../fonts/ARSMaquettePro-Regular.woff") format("woff"),
    url("../fonts/ARSMaquettePro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Shentox";
  src:
    url("../fonts/ShentoxW04Regular.woff2") format("woff2"),
    url("../fonts/ShentoxW04Regular.woff") format("woff"),
    url("../fonts/ShentoxW04Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avalon-Bold";
  src:
    url("../fonts/Avalon-Bold.woff2") format("woff2"),
    url("../fonts/Avalon-Bold.woff") format("woff"),
    url("../fonts/Avalon-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}

b {
  color: red;
}

.colortitles {
  color: #f42;
}

.colortitles a:hover {
  color: #000;
}

.arrow {
  float: right;
  margin: auto 5px;
  font-size: 18px;
  color: #f42;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.sticky2 {
  position: fixed;
  top: 48px;
  width: 100%;
  z-index: 10;  
}

.moveright {
  padding-left: 110px;
}

.atitles {
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.atitles:hover .arrow {
   color: #000;
}

.emptyHeader {
  display: none;
}

/* FONTS CLASSES */
.ars-maquette-font {
  font-family: "ARS Maquette Pro", "Poppins", sans-serif;
}

.shentox-font {
  font-family: Shentox, sans-serif;
}

.avalon-font {
  font-family: "Avalon-Bold", "Poppins", sans-serif;
}

/* FEATURE ARTICLES */

.mainArticles {
  height: 57.5vh;
  padding: 2px 8px 8px 8px;
  display: grid;
  grid-gap: 10px;
  grid-row: repeat(2, 1fr);
  grid-template-columns: 2fr 1fr;
  overflow: hidden;
}

.mainArticles article {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#mainAd header {
  font-family: "Poppins", sans-serif;
  position: absolute;
  z-index: 5;
  width: 88%;
  left: 24px;
  bottom: 24px;
  color: white;
}

.mainArticles a {
  text-decoration: none;
}

.nav1 a {
  color: rgb(141, 141, 141);
  text-decoration: none;
}

nav {
  background-color: black;
}

#mainlogo {
  display: none;
  float: left;
  width: 106px;
  height: 100%;
  background: linear-gradient(to bottom right,#c09,#f42 85%);
  z-index: 10;
}

#logocontainer {
  width: 100%;
}

.invest-story {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 68, 34, 0.03);
  height: 100%;
}

.invest-story img {
  position: absolute;
  margin: 10.6666666667px;
  max-width: 60px;
  min-width: 60px;
  width: 60px;
  max-height: 60px;
  min-height: 60px;
  height: 60px;
}

.invest-story h4 {
  font-size: 18px;
  line-height: 1.25;
  font-weight: 700;
}

.invest-story h5 {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
  color: #000;
  opacity: 0.5;
}

.invest-story-title {
  position: relative;
  display: flex;
  align-items: flex-start;
  background-color: rgba(255, 68, 34, 0.08);
}

.invest-story-title h4 {
  color: white;
  background-color: #f42;
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  width: 100%;
}

.invest-story-info {
  padding: 10.6666666667px 16px 10.6666666667px 84px;
  background-color: rgba(255, 68, 34, 0.08);
}

.category-list {
  display: flex;
  align-items: center;
  height: 51px;
  list-style-type: disc;
  border-bottom: 1px solid #eee;
  line-height: 21px;
  padding: 5px 0 15px 0;
}

.category-list a {
  display: block;
  width: 344px;
  height: 39px;
  padding: 6px 0 6px 14px;
  font-size: 13px;
  line-height: 19.5px;
  color: #555;
}

.invest-story-tags {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(255, 68, 34, 0.25);
}

.invest-story-tags a {
  padding-left: 2em;
  padding-top: 1.2em;
  font-size: 13px;
  color: #555;
  margin-right: 1em;
  line-height: 15px;
}

.invest-story-tags a:hover {
  color: #000;
}

.invest-story-text {
  color: #555;
  font-size: 12px;
  font-weight: 400;
  padding: 10px 50px 0 16px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.invest-story-text span {
  color: #aaa;
}

.latest-category-news-link-container {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 68, 34, 0.06);
  margin: 2px 0;
}

.latest-category-news-link {
  width: 244px;
  height: 86px;
  padding: 10px 0 0 14px;
}

.latest-category-news-link-container a:hover {
  text-decoration: underline;
}

.latest-category-news-link-container h4 {
  color: #f42;
  font-weight: 700;
  line-height: 1.25;
  font-size: 14px;
}

.latest-category-news-link-container h5 {
  color: #f42;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-size: 13px;
}

.latest-category-news-link-container img {
  height: 96px;
  width: 96px;
}

.news1 {
  display: flex;
}

.newstitle {
  color: black;
  text-decoration: none;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 700;
}

.newstitle a:hover {
  color: #f42;
  box-shadow: inset 0 -1px 0 rgba(255, 68, 34, 0.25);
}

.newstime {
  color: #aaa;
  font-size: 13px;
  line-height: 20px;
}

.newstime a:hover {
  color: #555;
}

.news1 img {
  width: 100%;
}

#news2 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/coronavirus-china-app-480x270.jpg");
}

#news3 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-516x270.png");
}

#news4 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-...-3-516x270.png");
}

#news5 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Untitled-design14-516x270.png");
}

#news6 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/broken-piggy-bank-1472485404YoO-480x270.jpg");
}

#news7 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Veo-33-514x270.jpg");
}

#news8 {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/vek6eka-540x270.jpg");
}

.category1 {
  width: 392px;
  padding: 12px;
  position: relative;
}

.category1 img {
  width: 100%;
}

.round-disc {
  border-radius: 100%;
  background-color: #f42;
  width: 5px;
  height: 5px;
}

.category1 li a:hover {
  color: #000;
}

.category1title {
  padding: 1rem 0;
}

.picture-link {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/header-image-May-Apple’s-AirPower-charging-mat-live-forever-in-limbo.png");
  background-size: cover;
  background-position: 50% center;
  height: 96px;
  width: 96px;
}

#mainlogo div {
  line-height: 50px;
}

#mainlogo img {
  height: 16px;
  width: 66px;
  margin-left: 20px;
}

#mainAuthor {
  display: flex;
  color: hsla(0, 0 , 100%,.6);
  font-size: 12px;
  line-height: 16px;
}

.nav1 {
  display: flex;
  justify-content: space-between;
  height: 32px;
  background-color: black;
  font-size: 13px;
  font-weight: 500;
  line-height: 32px;
}

.nav1 li {
  display: inline;
  line-height: 32px;
  margin: 0 5px;
}

.nav1 ul:first-child {
  padding-left: 12px;
}

#news {
  color: white;
}

#nav2 {
  display: flex;
  justify-content: space-between;
  height: 48px;
  background-color: white;
}

#addinfo li {
  display: inline;
  margin: 0 5px;
}

#addinfo a {
  color: #aaa;
  text-decoration: none;
  font-size: 13px;
}

#addinfo a:hover {
  color: #fff;
}

#nav2 a {
  padding-left: 12px;
  color: #aaa;
  text-decoration: none;
  font-family: Shentox, sans-serif;
  font-size: 14px;
  font-weight: 500;
}

#socialicons {
  margin-bottom: 30px;
}

#socialicons li {
  display: inline;
  margin: 0 6px;
}

#socialicons i {
  color: white;
  height: 16px;
  width: 16px;
}

#socialicons a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  background-color: #555;
  display: inline-block;
  border-radius: 30px;
  border: 2px solid #555;
}

#socialicons a:hover {
  background-color: #131313;
}

#nav2 a:hover {
  color: black;
}

#nav2 li {
  display: inline;
  line-height: 48px;
  margin: 0 5px;
}

#buttonsnav2 {
  display: flex;
}

#buttonsnav2 button {
  border: 0;
  border-left: 1px solid #eee;
  width: 48px;
  height: 48px;
  background-color: inherit;
}

#menu {
  display: none;
  color: #f42;
}

#menu i {
  display: inline;
  height: 30%;
  width: 30%;
  margin: 0 auto;
  line-height: 45px;
}

#techfestival {
  height: 30px;
  background-color: #fd3;
  display: flex;
  align-items: center;
}

#techfestival a {
  padding-left: 12px;
  font-family: "ARS Maquette Pro", "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
}

.emptyheader {
  display: none;
}

.whitec {
  color: white;
}

.accessTime {
  font-size: 18px;
  background-image: url("../images/clockicon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 2.4rem;
  padding: 0.05rem;
  height: 16px;
}

.share-icon {
  font-size: 18px;
  background-image: url("../images/shareicon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 2.4rem;
  padding: 0.05rem;
  height: 16px;
}

#mainAd header p,
#thirdAd header p {
  margin-top: 14px;
  font-size: 12px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
}

.matthew {
  color: rgba(255, 255, 255, 0.6);
}

.matthew:hover {
  color: #fff;
}

.mainAdColor {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png");
  background-position: 0 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.main-ad-header-authors-text {
  display: flex;
  align-items: center;
}

.main-ad-header-authors-text a:hover {
  color: #fff;
}

#mainAd {
  grid-row: 1/3;
  grid-column: 1/2;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/coronavirus-china-app-796x448.jpg");
}

#mainAdHeaderTitle {
  font-size: 50px;
  font-weight: 700;
}

#mainAdDiv {
  z-index: 3;
  position: absolute;
  top: 20px;
  left: 20px;
  height: 60%;
  width: 55%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#mainAdp {
  z-index: 6;
  position: absolute;
  top: 20px;
  right: 20px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: white;
}

.mainAdGradient {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#secAdTit,
#zeroDawn {
  font-size: 27px;
  font-weight: 700;
}

#thirdAd header,
#secAdTit {
  z-index: 7;
  position: absolute;
  left: 21px;
  bottom: 21px;
  width: 90.1%;
  display: block;
}

#secAd {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/02/TNW-Conference-PanelImg.jpg");
}

.mainAdHeaderA {
  font-size: 13px;
}

#thirdAd {
  background-image: url("https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2020/03/Copy-of-Copy-of-Copy-of-Copy-of-Copy-of-...-796x417.png");
}

/* FEATURE ARTICLES */

/* LATEST NEWS */

.news {
  display: grid;
  max-width: 1192px;
  margin: 0 auto;
  padding: 30px 20px;
  grid-template-rows: 1fr 6fr 6fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.4rem;
  min-height: 646px;
}

.news2 {
  display: grid;
  grid-template-areas:
    "title title title title"
    "art1 art2 art3 art4";
  max-width: 1192px;
  margin: 0 auto;
  padding: 30px 20px;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.4rem;
  min-height: 346px;
}

#indextitle {
  width: 46%;
}

.latest-fund-title {
  display: flex;
  grid-area: title;
  justify-content: space-between;
  align-items: center;
}

#funding1 {
  grid-area: art1;
}

#funding2 {
  grid-area: art2;
}

#funding3 {
  grid-area: art3;
}

#funding4 {
  grid-area: art4;
}

a[href="https://index.co/investments?utm_campaign=funding_block&utm_medium=referral&utm_source=thenextweb.com"] {
  grid-column: 1/3;
  height: 100%;
}

.latest-news {
  grid-column: 1/5;
  line-height: 30.8px;
  height: 100%;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -0.42px;
}

.latest-news-pos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#latest-funding {
  grid-column: 1/3;
  font-size: 24px;
}

#latest-funding-info a:hover {
  color: #000;
}

/* CATEGORIES */

.categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 1192px;
  margin: 0 auto;
  padding: 30px 20px;
  min-height: 335px;
}

.most-popular-title {
  position: absolute;
  top: 28%;
  padding: 0 35px 5px 14px;
}

.most-popular-time-pos {
  top: 45%;
}

.most-popular-title h5 {
  font-size: 13px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  line-height: 1.5;
}

.most-popular-title h3 {
  color: #fff;
  font-weight: 700;
  line-height: 1.1;
  font-size: 20px;
}

.other {
  height: 1176px;
  background-color: darkgoldenrod;
}

.deals {
  margin-bottom: 60px;
}

#alldeals {
  font-size: 16px;
  float: right;
  line-height: 18px;
  font-weight: 400;
  vertical-align: baseline;
}

#deal1 {
  grid-area: deal1;
}

#dealsHeader {
  grid-area: header;
  line-height: 2rem;
  font-size: 5rem;
  padding: 8rem 0;
}

.previous-price {
  text-decoration: line-through;
  font-size: 13px;
  margin-right: 4px;
}

.new-price {
  font-size: 16px;
  color: #555;
}

footer {
  height: 258px;
  background-color: gainsboro;
}

#footerdiv {
  background-color: #131313;
  height: 161px;
  text-align: center;
  padding-top: 30px;
}

#partner-information {
  background-color: black;
  height: 97px;
  color: #aaa;
  line-height: 97px;
  text-align: center;
  font-size: 13px;
}

#mainLogoFooter {
  width: 37px;
  height: 10px;
}

#footerStack {
  width: 65px;
  height: 10px;
}

/*Media queries*/
@media only screen and (max-width: 1024px) {
  #mainlogo {
    display: flex;
    margin-top: -32px;
    height: 80px;
}

  #mainlogo div {
    line-height: 125px;
}

.nav1-list {
  margin-left: 100px;
}

#techfestival {
  padding-left: 110px;
}

}

@media only screen and (max-width: 1214px) {
  .remove-element {
    display: none;
  }
  

}

@media only screen and (max-width: 768px) {
  #nav2 ul {
    display: none;
  }

  #menu {
    display: flex;
  }

  .nav1 {
    display: none;
  }

  #mainlogo {
    display: flex;
    margin-top: 0;
    height: 48px;
  }

  #mainlogo div {
    line-height: 50px;
  }

  #techfestival {
    height: 60px;
    justify-content: center;
    padding-left: 0;

  }
}

